.tutorial {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.25em 6.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top 0.3s;
}

.textarea {
    margin-top: 7.5em;
    width: 31.25em;
    text-align: justify;
    justify-content: center;
    font-size: 1.1em;
    color: black;
}