@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(246,162,78,1) 0%, rgba(255,255,255,1) 35%);
    background-size: cover;
    background-position: center;
}
.container{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pagina1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
}
.pagina2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tutorial {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top 0.3s;
}
.welcome{
    text-align: center;
    align-items: center;
}
.logo {
    height: 100px;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #000;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}
li {
    list-style-type: none;
}
.btn-start{
    width: 500px;
    height: 150px;
    text-align: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
}
.menu {
    width: 100%;
    font-size: 1.5em;
}
.textarea {
    width: 500px;
    text-align: justify;
    justify-content: center;
    font-size: 1.1em;
    color: black;
}
.textarea2 {
    margin-top: 120px;
    width: 500px;
    text-align: justify;
    justify-content: center;
    font-size: 1.1em;
    color: black;
}
.listaContas h2 {
    position: fixed;
    top: 0;
    left: 4.5em;
    font-size: 1.5em;
    color: #000;
    justify-content: center;
    text-align: center;
}
.analiseContas h2 {
    position: fixed;
    top: 0;
    left: 4em;
    font-size: 1.5em;
    color: #000;
    justify-content: center;
    text-align: center;
}
.cadastroContas h2{
    position: fixed;
    top: 0;
    left: 3.1em;
    font-size: 1.5em;
    color: #000;
    justify-content: center;
    text-align: center;
}
.wrapper {
    position: relative;
    width: 400px;
    height: 460px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
.wrapper .form-box {
    width: 100%;
    padding: 40px;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #000000;
    margin: 30px 0;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #000000;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top: 5px;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000000;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #000000;
    line-height: 57px;
}
.select-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #000000;
    margin: 30px 0;
}
.select-box select {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000000;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.select-box .icon {
    position: absolute;
    right: 20px;
    font-size: 1.2em;
    color: #000000;
    line-height: 57px;
}
.btn {
    width: 100%;
    height: 45px;
    background: orange;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    color: #FFFF;
    font-weight: 500;
    margin-bottom: 10px;
}
.btn-card {
    position: absolute;
    bottom: 0.1em;
    left: 1em;
    width: 23em;
    height: 3em;
    background: orange;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    color: #FFFF;
    font-weight: 500;
    margin-bottom: 10px;
}
#porcentagem {
    font-size: 1em;
    color: #000;
}